<%
var results = recognitionResults['com.solveforall.recognition.WikipediaArticle'];
if (!results || (results.length < 1)) {
  return null
}

var result = null;
var imageUri = null;
var text = null; 
var i = 0;    do {
  var r = results[i];
  imageUri = r.depictionImageUri || r.thumbnailImageUri;
  text = r.longAbstract_en; 

  if (imageUri || text) {
    result = r; 
  }
  i++;
} while ((result === null) && (i < results.length));

if (!result) {      
  throw "No eligible result found";
}

var label = ' (' + result.humanFormattedArticle.replace('(', '[').replace(')', ']') + ')';

var settings = context.settings || {};
var showImage = imageUri && (settings.showImage !== 'false');

var imageType = 'image/jpeg';
var requiresExplicitHeight = false;
if (showImage) {
  var altImageUri = null;
  
  if (imageUri.indexOf('/commons/') > 0) {
    altImageUri = imageUri.replace('/commons/', '/en/');
  } else if (imageUri.indexOf('/en/') > 0) { 
    altImageUri = imageUri.replace('/en/', '/commons/');
  }
  
  var lastDotIndex = imageUri.lastIndexOf('.');
  
  if (lastDotIndex >= 0) {
    imageType = 'image/' + imageUri.substring(lastDotIndex + 1);
    
    if (imageType === 'image/jpg') {
      imageType = 'image/jpeg';
    } else if (imageType === 'image/svg') {
      requiresExplicitHeight = true;
      imageType += '+xml';  
    }
  }  
}
%>    
<!doctype html>
<html>
  <head>
    <title>Wikipedia Infobox</title>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <% /* will be picked up as the URI in the future */ %>
    <meta name="com.solveforall.meta.answer.uri" content="http://wikipedia.org/wiki/<%= result.article %>">
  </head>
  <body>    
    <strong><%= result.humanFormattedArticle %></strong>    
    <small>          
      &nbsp;&nbsp;
      <a href="http://wikipedia.org/wiki/<%= result.article %>" target="_blank">Full article</a></a>

      <% if (result.homePageUri) { %>
        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="<%= result.homePageUri %>" target="_blank">Website</a>            
      <% } %>

      <% if (result.latitude && result.longitude) { %>            
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://mapq.st/map?q=<%= encodeURIComponent(result.latitude) %>+<%= encodeURIComponent(result.longitude) %><%= encodeURIComponent(label) %>&maptype=map&layer=traffic" target="_blank">Map</a>           
      <% } %>
    </small>            
    
    <p>
      <% if (showImage) { %>                  
        <span class="pull-left" style="margin-right: 5px">
          <a href="<%= imageUri %>"  target="_blank">
            <object data="<%= imageUri %>" type="<%= imageType %>" width="128"
              <% if (requiresExplicitHeight) { %>
              height="128"
              <% } %>
              >
              <% if (altImageUri) { %>
                <object data="<%= altImageUri %>" type="<%= imageType %>" width="128"
                  <% if (requiresExplicitHeight) { %>
                  height="128"
                  <% } %> 
                >
                </object>  
              <% } %>
            </object>
          </a>            
        </span>
      <% } %>  
    
      <% if (text) { %>      
        <%= text %>      
      <% } %>
    </p>
  
    <div class="clearfix"></div>      
  </body>
</html>