<%
var results = recognitionResults['com.solveforall.recognition.WikipediaArticle'];
if (!results || (results.length < 1)) {
  return null
}

var result = null;
var imageUri = null;
var text = null; 
var i = 0;    do {
  var r = results[i];
  imageUri = r.depictionImageUri || r.thumbnailImageUri;
  text = r.longAbstract_en; 

  if (imageUri || text) {
    result = r; 
  }
  i++;
} while ((result === null) && (i < results.length));

if (!result) {      
  throw "No eligible result found";
}

var label = ' (' + result.humanFormattedArticle.replace('(', '[').replace(')', ']') + ')';

var settings = context.settings;
var maxAbstractCharacters = settings.maxAbstractCharacters || 570;
var showImage = imageUri && (settings.showImage !== 'false');

var imageType = 'image/jpeg';
var requiresExplicitHeight = false;
if (showImage) {
  var altImageUri = null;
  
  if (imageUri.indexOf('/commons/') > 0) {
    altImageUri = imageUri.replace('/commons/', '/en/');
  } else if (imageUri.indexOf('/en/') > 0) { 
    altImageUri = imageUri.replace('/en/', '/commons/');
  }
  
  var lastDotIndex = imageUri.lastIndexOf('.');
  
  if (lastDotIndex >= 0) {
    imageType = 'image/' + imageUri.substring(lastDotIndex + 1);
    
    if (imageType === 'image/jpg') {
      imageType = 'image/jpeg';
    } else if (imageType === 'image/svg') {
      requiresExplicitHeight = true;
      imageType += '+xml';  
    }
  }  
}

var pruned = null;
var remaining = null;
if (text && (text.length > maxAbstractCharacters)) {  
  pruned = _(text).prune(maxAbstractCharacters, '');
  remaining = text.substring(pruned.length);  
}
%>    
<!doctype html>
<html>
  <head>
    <title>Wikipedia Infobox</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/readable/bootstrap.min.css" rel="stylesheet">    
    <meta name="com.solveforall.meta.answer.uri" content="http://wikipedia.org/wiki/<%= result.article %>">
    <meta name="com.solveforall.meta.answer.embeddable" content="true">    
  </head>
  <body>    
    <strong><%= result.humanFormattedArticle %></strong>    
    <small>          
      &nbsp;&nbsp;
      <a href="http://wikipedia.org/wiki/<%= result.article %>" target="_top">Full article</a></a>

      <% if (result.homePageUri) { %>
        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="<%= result.homePageUri %>" target="_top">Website</a>            
      <% } %>

      <% if (result.latitude && result.longitude) { %>            
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://mapq.st/map?q=<%= encodeURIComponent(result.latitude) %>+<%= encodeURIComponent(result.longitude) %><%= encodeURIComponent(label) %>&maptype=map&layer=traffic" target="_top">Map</a>           
      <% } %>
    </small>            
    
    <p>
      <% if (showImage) { %>                  
        <span class="pull-left" style="margin-right: 10px">
          <a href="<%= imageUri %>"  target="_top">
            <img data-img-src-0="<%= imageUri %>" 
              <% if (altImageUri) { %>
                data-img-src-1="<%= altImageUri %>"
              <% } %>
              type="<%= imageType %>" class="with_fallback img-rounded margin-top_5 margin-right_10" width="150"
              <% if (requiresExplicitHeight) { %>
              height="150"
              <% } %>
            >                          
          </a>            
        </span>
      <% } %>  
    
        
      <% if (text) { %> 
        <% if (pruned) { %>
          <%= pruned %>
          <span class="content_expander"><i class="fa fa-chevron-down"></i></span>                    
        <% } else { %>
          <%= text %>      
        <% } %>
      <% } %>
    </p>
    <% if (remaining) { %>
      <div class="content_expandable initially_hidden">        
        <%= remaining %>
      </div>
    <% } %>  
  </body>
</html>