<%
let address = null;
let latitude = null;
let longitude = null;
let label = null;

try {
  let usAddressResults = recognitionResults['com.solveforall.recognition.location.UsAddress'];

  if (usAddressResults && (usAddressResults.length > 0)) {
    const recognitionResult = usAddressResults[0];

    address = recognitionResult.streetAddress || '';

    const city = recognitionResult.city;
    if (city) {
      if (address.length > 0) {
        address += ', ';
      }

      address += city;
    }

    const state = recognitionResult.stateAbbreviation;
    if (state) {
      if (address.length > 0) {
        address += ', ';
      }

      address += state;
    }

    const zipCode = recognitionResult.zipCode;
    if (zipCode) {
      if (address.length > 0) {
        address += ' ';
      }
      address += zipCode;
    }
  } else {
    const geoResults = recognitionResults['com.solveforall.recognition.location.GeoCoordinates'];
    let geoResult = null;

    if (geoResults && (geoResult.length > 0)) {
      geoResult = geoResults[0];
    } else {
      const wikipediaResults = recognitionResults['com.solveforall.recognition.WikipediaArticle'];

      geoResult = _(wikipediaResults).find(function (wr) {
        return wr.geoLocation;
      });
    }

    if (geoResult) {
      label = geoResult.matchedText;
      latitude = geoResult.geoLocation.latitude;
      longitude = geoResult.geoLocation.longitude;
    }
  }
} catch (e) {
  console.log('Recognition result not found, falling back to query, error message = "' +
              e.message + "'");
}

if (!address && !latitude) {
  address = q;
}

const settings = context.settings;
%>

<!DOCTYPE html>
<html>
  <head>
<% if (address) { %>
    <meta name="com.solveforall.meta.answer.uri"
     content="https://www.openstreetmap.org/search?query=<%= encodeURIComponent(address) %>">
<% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/spacelab/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" >
    <style>
      html { height: 100vh; }
      body { height: 100vh; margin: 0; padding: 0;}
      .map { height: 100vh; }
    </style>
    <title>Map</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="map_column" class="col-xs-12">
          <div id="map" class="map">
          </div>
        </div>
      </div>
    </div>

    <div id="data"
    <% if (address) { %>
      data-address="<%= address %>"
    <% } else if (latitude) { %>
      data-label="<%= label %>"
      data-latitude="<%= latitude %>" data-longitude="<%= longitude %>"
    <% } %>
      data-zoom="<%= (settings.zoomLevel || 15) %>"
      data-tile-provider="<%= (settings.tileProvider || 'MapQuest OSM') %>">
    </div>

    <script src="https://cdn.jsdelivr.net/g/jquery@1.11.3,underscorejs@1.8.3,bootstrap@3.3.6"></script>
    <!-- Loading from jsDelivr doesn't work for some reason. -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/34577952/solveforall/plugins/leaflet/scripts/leaflet.js"></script>
  </body>
</html>
