<%
  var sourceLanguageCode = context.settings.sourceLanguageCode;
  var targetLanguageCode = context.settings.targetLanguageCode || 'zh-CHT';  
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Translation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <br/>
      <div id="translation_progress">
        <p>
          Translating ...
        </p>
        <div class="well well-sm"><%= q %></div>
        <div id="translation_progress_container" class="progress progress-striped active">
          <div id="translation_progress_bar" class="progress-bar" role="progressbar"
           aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            0%
          </div>
        </div>
      </div>

      <div id="translation_result" class="hidden">
        <div class="notranslate" >
          <p>The translation of</p>
          <div class="well well-sm"><%= q %></div>
          from <b><span id="source_language">an auto-detected language</span></b>
          to <b><span id="selected_target_language">the language previously selected below</span></b> is
        </div>
        <br/>
        <div class="well well-sm"><%= q %></div>
      </div>

      <div id="translation_error" class="hidden">
        <p>Translation error:</p>
        <div class="well well-sm"><%= q %></div>
        <p>
          could not be translated. Maybe try setting the source or target language,
          or other content to translate?
        </p>
      </div>

      <div id="data-holder" data-source-language-code="<%= sourceLanguageCode ? sourceLanguageCode : 'null' %>"
       data-target-language-code="<%= targetLanguageCode %>"></div>
      <!-- Space for widget -->
      <br/><br/><br/>
    </div>

    <script src="https://cdn.jsdelivr.net/g/jquery@1.11.1,underscorejs@1.6.0,bootstrap@3.2.0">
    </script>

    <script src="https://ssl.microsofttranslator.com/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**">
    </script>

    <script src="https://googledrive.com/host/0B9oRjsJCVus3LTlwaERfY2hNNjA/microsoft_translator_embedded.js">
    </script>
  </body>
</html>
