<%
var address = null;

try {
  var recognitionResult = recognitionResults['com.solveforall.recognition.EmailAddress'][0];
  address = recognitionResult.matchedText;
  console.log('Using email address in recognition result: "' + address + '".');
} catch (e) {
  console.log('Recognition result not found, falling back to query');
  address = _(q).words()[0];
  console.log('Using email address in query: "' + address + '".');
}

var hash = md5(address.toLowerCase());

var settings = context.settings;
var size = settings.size || 80;
var defaultAvatar = settings.defaultAvatar || 'mm';
var rating = settings.rating || 'g';
var url = 'https://secure.gravatar.com/' + hash;
%>
<!DOCTYPE html>
<html>
<head>
  <title>Gravatar</title>
  <meta name="com.solveforall.meta.answer.uri" content="<%= url %>" >
  </head>
</head>

<body>
  <img src="https://secure.gravatar.com/avatar/<%= hash %>.jpg?s=<%= size %>&d=<%= encodeURIComponent(defaultAvatar) %>&r=<%= encodeURIComponent(rating) %>" class="img-rounded" width="<%= size %>" height="<%= size %>"
   alt="Gravatar image for <%= address %>">
  &nbsp;
  <a href="mailto:<%= address %>">
    <%= address %>
  </a>
  &nbsp;/&nbsp;
  <a href="<%= url %>">Gravatar profile</a>
</body>
</html>
