<%
const savedSize = settings.size || 80;

const defaultAvatarValues = ['mm', 'identicon', 'monsterid', 'wavatar', 'retro', 'blank'];
const defaultAvatarLabels = ['Mystery-Man', 'Identicon', 'Monster', 'Wavatar', 'Retro', 'Blank'];
const selectedDefaultAvatar = settings.defaultAvatar || 'mm';

const ratingValues = ['g', 'pg', 'r', 'x'];
const ratingLabels = _(ratingValues).map(rating => rating.toUpperCase());
const selectedRating = settings.rating || 'g';
%>
<!doctype html>
<html>
  <head>
    <title>Gravatar Settings</title>
  </head>
  <body>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="input_size" class="col-xs-4 col-sm-3 control-label">Size</label>
        <div class="col-xs-6 col-sm-4">
          <input id="input_size" name="size" type="number" min="1" max="2048"
           value="<%= savedSize %>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="input_default_avatar" class="col-xs-4 col-sm-3 control-label">Default Avatar</label>
        <div class="col-xs-6 col-sm-4">
          <select id="input_default_avatar" name="defaultAvatar" class="form-control">
            <% for (let i = 0; i < defaultAvatarValues.length; i++) { %>
              <option value="<%= defaultAvatarValues[i] %>"
                <% if (defaultAvatarValues[i] === selectedDefaultAvatar) { %>
                  selected
                <% } %>
              ><%= defaultAvatarLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input_rating" class="col-xs-4 col-sm-3 control-label">Rating</label>
        <div class="col-xs-6 col-sm-4">
          <select id="input_rating" name="rating" class="form-control">
            <% for (let i = 0; i < ratingValues.length; i++) { %>
              <option value="<%= ratingValues[i] %>"
                <% if (ratingValues[i] === selectedRating) { %>
                  selected
                <% } %>
              ><%= ratingLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>
    </form>
  </body>
</html>
