<%
  let rv = null;
  let ex = null;
  let relevance = 1.0;

  // Don't leak this!
  context.developerSettings = {};

  try {
    rv = JSON.stringify(eval(context.fullSanitizedQuery), null, 2);
  } catch (err) {
    ex = err;
    relevance = 0.0;
  }
  const MAX_SINGLE_LINE_LENGTH = 40;
%>

<html>
  <head>
    <meta name="com.solveforall.meta.answer.relevance" content="<%= relevance %>" />
  </head>
  <body>
    <% if (ex) { %>
      <h4>Doh!</h4>
    <% } %>

    <% if (ex) { %>
      <pre><%= q %></pre>
      <p>
      threw an exception

      <% if (ex.name) { %>
        named <code><%= ex.name %></code>
      <% } else { %>
        with no name
      <% } %>
      and with

      <% if (ex.message) { %>
        message
        </p>
        <pre><%= ex.message %></pre>
      <% } else { %>
        no message.
        </p>
      <% } %>
    <% } else {
         var srv = '' + rv;
         var totalLength = q.length + srv.length;
         if ((totalLength <= MAX_SINGLE_LINE_LENGTH) && (srv.indexOf('\n') < 0)) { %>
           <pre><%= q %> == <%= rv %></pre>
    <%   } else { %>
           <pre><%= q %></pre>
           <p>
           evaluated to
           </p>
           <pre><%= rv %></pre>
    <%   }
       } %>
  </body>
</html>
