<%  
var rr = recognitionResult;
if (!rr) {
  var results = recognitionResults['com.solveforall.recognition.programming.python.StandardLibrary'];

  if (results.length === 0) {
    throw "No result found";   
  }
  rr = results[0];    
}

var pythonMajorVersion = null;
if (context.settings && context.settings.pythonVersion) {
  pythonMajorVersion = context.settings.pythonVersion;  
}
pythonMajorVersion = pythonMajorVersion || '3';
 
var uri = 'https://docs.python.org/' + pythonMajorVersion + '/library/' + rr.path;
%>
<!doctype html>
<html>
  <head>
    <title><%= rr.name %></title>
    <meta charset="UTF-8">
    <meta name="com.solveforall.meta.answer.label" content="<%= rr.name %>" >
    <meta name="com.solveforall.meta.answer.uri" content="<%= uri %>" >
  </head>
  <body>
    <pre><%= rr.name %>(<%= rr.params.join(', ') %>)</pre>
    <p>
      <%= rr.summary %>    
    </p>
    <p>      
      <a href="<%= uri %>">View on docs.python.org</a>
    </p>
  </body>
</html>