<%
var results = recognitionResults['com.solveforall.recognition.business.crunchbase.Organization'];
if (!results || (results.length === 0)) {
  throw "No result found";
}
var org = results[0];
%>
<!doctype html>
<html>
  <head>
    <title><%= org.name %></title>
    <meta charset="UTF-8">
    <meta name="com.solveforall.meta.answer.uri" content="<%= org.crunchbase_url %>" >
    <style>
      .content {
        margin-left: 2px;
        margin-right: 2px;
      }
      .social_link {
        display: inline-block;
        margin-right: 20px;
      }
      .column_container {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
      }
      .column {
        flex-direction: column;
        display: inline-flex;
        justify-content: center;
      }
      .profile_container {
        margin-right: 20px;
      }
      .see_more {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="column_container">
        <% if (org.profile_image_url) { %>
        <div class="column profile_container">
          <img src="<%= org.profile_image_url %>?width=150" width="150" height="150" alt="">
        </div>
        <% } %>
        <div class="column summary_container">
          <h3><%= org.name %></h3>
          <p><a href="<%= org.homepage_url %>" rel="noreferrer"><%= org.homepage_domain %></a></p>
          <p>
            <%= _([org.location_city, org.location_region]).filter(function (name) {
                  return name;
                }).join(', ') %>

            <% if (org.location_country_code) { %>
                <%= org.location_country_code %>
            <% } %>
          </p>
        </div>
      </div>
      <p>
        <%= org.short_description %>
      </p>
      <div>
        <% if (org.twitter_url) { %>
        <span class="social_link">
          <a href="<%= org.twitter_url %>" title="See profile on Twitter"
           rel="noreferrer">
            <img src="https://solveforall.com/resources/images/twitter.svg"
             width="32" height="32" alt="Twitter profile">
          </a>
        </span>
        <% } %>
        <% if (org.facebook_url) { %>
        <span class="social_link">
          <a href="<%= org.facebook_url %>" title="See profile on Facebook"
           rel="noreferrer">
            <img src="https://solveforall.com/resources/images/facebook.svg"
             width="32" height="32" alt="Facebook profile">
          </a>
        </span>
        <% } %>
        <% if (org.linkedin_url) { %>
        <span class="social_link">
          <a href="<%= org.linkedin_url %>" title="See profile on LinkedIn"
           rel="noreferrer">
            <img src="https://solveforall.com/resources/images/LinkedIn.svg"
             width="32" height="32" alt="LinkedIn Profile">
          </a>
        </span>
        <% } %>
      </div>

      <p class="see_more">
        <small>See more at
          <a href="<%= org.crunchbase_url %>" rel="noreferrer">Crunchbase</a>.
        </small>
      </p>
    </div>
  </body>
</html>
