<%
const DATE_RANGE_VALUES = ['all', 'last24h', 'pastWeek', 'pastMonth'];
const DATE_RANGE_LABELS = ['All time', 'Last 24 hours', 'Last Week', 'Last Month'];

const SORT_BY_VALUES = ['Popularity', 'Date'];

const selectedSortBy = settings.sortBy || 'Popularity';
const selectedDateRange = settings.dateRange || 'all';
const collectLinks = (settings.collectLinks !== false);
%>
<!doctype html>
<html>
  <head>
    <title>Hacker News Settings</title>
  </head>
  <body>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <div class="checkbox">
            <label>
              <input id="input_collect_links" type="checkbox"
               name="collectLinks:boolean"
                <% if (collectLinks) { %>
                checked
                <% } %>
              >
              Collect links together in a single content block
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3">Date range</label>
        <div class="col-xs-6">
          <select name="dateRange" class="form-control">
            <% for (let i = 0; i < DATE_RANGE_VALUES.length; i++) { %>
              <option value="<%= DATE_RANGE_VALUES[i] %>"
               <%= (selectedDateRange === DATE_RANGE_VALUES[i]) ? 'selected' : '' %>
               >
                <%= DATE_RANGE_LABELS[i] %>
              </option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3">Sort by</label>
        <div class="col-xs-6">
          <select name="sortBy" class="form-control">
            <% for (let i = 0; i < SORT_BY_VALUES.length; i++) { %>
              <option value="<%= SORT_BY_VALUES[i] %>"
               <%= (selectedSortBy === SORT_BY_VALUES[i]) ? 'selected' : '' %>
               >
                <%= SORT_BY_VALUES[i] %>
              </option>
            <% } %>
          </select>
        </div>
      </div>
    </form>
  </body>
</html>
