<%
const actionLabels = ['Map image only', 'Full page'];
const actionValues = ['embed', 'map'];
const selectedAction = settings.action || 'map';

const mapTypeLabels = ['Map', 'Aerial', 'Hybrid'];
const mapTypeValues = _(mapTypeLabels).map(label => label.toLowerCase());
const selectedMapType = settings.mapType || 'Map';

const layerLabels = ['None', 'Traffic'];
const layerValues = ['', 'traffic'];
const selectedLayer = settings.layer || '';

const selectedZoomLevel = settings.zoomLevel || '11';
%>
<!doctype html>
<html>
  <head>
    <title>MapQuest Settings</title>
  </head>
  <body>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="input_action" class="col-xs-4 control-label">View</label>
        <div class="col-xs-8">
          <select id="input_action" name="action" class="form-control">
            <% for (let i = 0; i < actionValues.length; i++) { %>
              <option value="<%= actionValues[i] %>"
                <% if (actionValues[i] === selectedAction) { %>
                  selected
                <% } %>
              ><%= actionLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input_map_type" class="col-xs-4 control-label">Map Type</label>
        <div class="col-xs-4">
          <select id="input_map_type" name="mapType" class="form-control">
            <% for (let i = 0; i < mapTypeValues.length; i++) { %>
              <option value="<%= mapTypeValues[i] %>"
                <% if (mapTypeValues[i] === selectedMapType) { %>
                  selected
                <% } %>
              ><%= mapTypeLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input_zoom_level" class="col-xs-4 control-label">Zoom Level</label>
        <div class="col-xs-4">
          <input id="input_zoom_level" name="zoomLevel" type="number" min="1" max="16"
           value="<%= selectedZoomLevel %>"  class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="input_layer" class="col-xs-4 control-label">Layer</label>
        <div class="col-xs-4">
          <select id="input_layer" name="layer"  class="form-control">
            <% for (let i = 0; i < layerValues.length; i++) { %>
              <option value="<%= layerValues[i] %>"
                <% if (layerValues[i] === selectedLayer) { %>
                  selected
                <% } %>
              ><%= layerLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>
    </form>
  </body>
</html>
