<%
var actionLabels = ['Map image only', 'Full page'];
var actionValues = ['embed', 'map'];
var selectedAction = settings.action || 'map';

var mapTypeLabels = ['Map', 'Aerial', 'Hybrid'];
var mapTypeValues = _(mapTypeLabels).map(function(label) {
  return label.toLowerCase();
});
var selectedMapType = settings.mapType || 'Map';

var layerLabels = ['None', 'Traffic'];
var layerValues = ['', 'traffic'];
var selectedLayer = settings.layer || '';

var selectedZoomLevel = settings.zoomLevel || '11';
%>
<!doctype html>
<html>
  <head>
    <title>MapQuest Settings</title>
  </head>
  <body>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="input_action" class="col-xs-2 control-label">View</label>
        <div class="col-xs-2">
          <select id="input_action" name="action" class="form-control">
            <% for (var i = 0; i < actionValues.length; i++) { %>
              <option value="<%= actionValues[i] %>"
                <% if (actionValues[i] === selectedAction) { %>
                  selected
                <% } %>
              ><%= actionLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label for="input_map_type" class="col-xs-2 control-label">Map Type</label>
        <div class="col-xs-2">
          <select id="input_map_type" name="mapType" class="form-control">
            <% for (var i = 0; i < mapTypeValues.length; i++) { %>
              <option value="<%= mapTypeValues[i] %>"
                <% if (mapTypeValues[i] === selectedMapType) { %>
                  selected
                <% } %>
              ><%= mapTypeLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input_zoom_level" class="col-xs-2 control-label">Zoom Level</label>
        <div class="col-xs-2">
          <input id="input_zoom_level" name="zoomLevel" type="number" min="1" max="16"
           value="<%= selectedZoomLevel %>"  class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="input_layer" class="col-xs-2 control-label">Layer</label>
        <div class="col-xs-2">
          <select id="input_layer" name="layer"  class="form-control">
            <% for (var i = 0; i < layerValues.length; i++) { %>
              <option value="<%= layerValues[i] %>"
                <% if (layerValues[i] === selectedLayer) { %>
                  selected
                <% } %>
              ><%= layerLabels[i] %></option>
            <% } %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-2">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i>&nbsp;Save
          </button>
        </div>
      </div>
    </form>
  </body>
</html>
