<%  
var results = recognitionResults['com.solveforall.recognition.programming.web.html.Element'];

var rr = null;

if (results && (results.length > 0)) {
  rr = results[0];
}

if (!rr) {
  throw "No result found";   
}

var tag = rr.name;
var uri = 'https://developer.mozilla.org/en-US/docs/Web/HTML/Element/' + encodeURIComponent(tag);
var title = '<' + tag + '>';

%>
<!doctype html>
<html>
  <head>
    <title>Documentation for <%= title %></title>
    <meta charset="UTF-8">
    <meta name="com.solveforall.meta.answer.uri" content="<%= uri %>" >
  </head>
  <body>        
    <h3>
      <%= title %>
      <% if (rr.html5Only) { %>
        <span class="label label-info">HTML5 only</span> 
      <% } %>    
    </h3>
    
    <p>
    <% if (rr.summary && (rr.summary.length > 0)) { %>       
      <%= rr.summary %>          
    <% } else { %>
      No summary available
    <% } %>
    </p>    
      
    <h4>Attributes</h4>  
      
    <% if (rr.attributes && (rr.attributes.length > 0)) { %>
      <p>
        Besides the <a href="https://developer.mozilla.org/en-US/docs/HTML/Global_attributes">global attributes</a>,
        the following attributes are also supported:
      </p>
      
      <ul>
      <% _(rr.attributes).each(function (attribute) { %>
        <li>
          <p>
            <strong><%= attribute.name %></strong>
            <% if (attribute.html5Only) { %>
              <span class="label label-info">HTML5 only</span> 
            <% } %>              
          </p>  
          <p>
          <% if (attribute.summary && (attribute.summary.length > 0)) { %>       
            <%= attribute.summary %>          
          <% } else { %>
            No summary available
          <% } %>
          </p>
        </li>            
      <% }); %>      
      </ul>
    <% } else { %>
      <p>
        Only the <a href="https://developer.mozilla.org/en-US/docs/HTML/Global_attributes">global attributes</a> 
        are supported.
      </p>          
    <% } %>
      
    <h4>Links</h4>
             
    <a href="<%= uri %>"><img                                                          
     src="https://developer.cdn.mozilla.net/media/img/favicon.ico" 
     width="16" height="16">MDN</a> |
    <a href="http://www.w3.org/wiki/HTML/Elements/<%= tag %>"><img 
     src="http://www.w3.org/favicon.ico"  width="16" height="16">W3C</a> |
    <a href="http://www.w3schools.com/tags/tag_<%= tag %>.asp"><img                        src="http://www.w3schools.com/favicon.ico" 
     width="16" height="16">w3schools.com</a> |
    <a href="http://reference.sitepoint.com/html/<%= tag %>"><img
     src="http://reference.sitepoint.com/favicon.ico" 
     width="16" height="16">Sitepoint</a> |
    <a href="http://docs.webplatform.org/wiki/html/elements/<%= tag %>"><img
     src="http://docs.webplatform.org/favicon.ico" 
     width="16" height="16">&nbsp;WebPlatform.org</a>
    
    <br/><br/>
    
    <p>
      <small>      
        Documentation for <a href="<%= uri %>"><%= title %></a> by 
        <a href="<%= uri %>$history">Mozilla Contributors</a> is licensed under
        <a href="http://creativecommons.org/licenses/by-sa/2.5/">CC-BY-SA 2.5</a>.
      </small>
    </p>
  </body>
</html>