<%
  var address = recognitionResults['com.solveforall.recognition.location.UsAddress'][0];
%>

<!doctype html>
<html>
  <head>
    <title>Geocoder</title>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <div>
        Coordinates for 
        <% if (address.streetAddress) { %><%= address.streetAddress %>, <% } %>
        <% if (address.city) { %><%= address.city %>, <% } %>
        <%= address.stateAbbreviation || '' %>
        <%= address.postalCode || '' %>:
      </div>      
      <div id="coordinates">
        <i>Loading ...</i>
      </div>
      <div>        
        <small>
          Data provided by 
          <a href="https://www.openstreetmap.org/" target="_top">OpenStreetMap</a> and          
          <a href="http://www.openstreetmap.org/copyright" target="_top">copyright</a> 
          OpenStreetMap contributors, ODbL 1.0. 
        </small>
      </div>
    </div>

    <div id="info_holder"
     data-settings="<%= JSON.stringify(context.settings) %>"
     data-address="<%= JSON.stringify(address) %>">
    </div>

    <script src="https://cdn.jsdelivr.net/g/jquery@1.11.0,underscorejs@1.6.0,underscore.string@2.3.1,bootstrap@2.3.2">
    </script>
        
    <script src="https://googledrive.com/host/0B9oRjsJCVus3SGczand1LThickk/openstreetmap_geocoder.js"></script>
  </body>
</html>
